<html>
<head>
    <meta charset="utf-8" />
    <!-- Include to ensure responsive pages are displayed correctly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap and custom CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
    
    <!-- Fav & iOS icons location -->


</head>

    <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">




<!-- Nav -->
        <nav class="nav" style="text-align: center ;">


        <img class = "row" style="top: 10px; left: 30px; height:30px; position: relative;"> 
                <h4 style="">  
                    <a href="/a" style="text-align: center;"> A </a> | 
                    <a href="/b" style="text-align: center;"> B </a> |       
                    <a href="/c" style="text-align: center;"> <font color="grey">C</font> </a> | 
                    <a href="/d" style="text-align: center;"> D </a>
                </h4>


        </nav>

    </div>

    
    </nav>
    </body>
</html>